# Node.js
node_modules/

# Logs
logs/
*.log

# Dependency directories
pids/
*.pid
*.seed
*.pid.lock

# dotenv environment variables file
.env

# IDE
.idea/

# Test coverage
coverage/

# Mac OS
.DS_Store

# Windows
Thumbs.db

# Yarn
yarn-error.log
